
.noto-serif-bold {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 700 ;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

body{max-width: 1440px;
margin: 0 auto;}
/* shared styles */

/* navbar styles */

.navbar{display: flex;
justify-content: center;
align-items: center;
justify-content: space-between;
margin-top: 30px;
margin-left: 50px;
margin-right: 50px;}

.list-container ul{display: flex;
gap: 48px;}

.list-container a{text-decoration: none;}

.list-container li{list-style: none;}


.home{font-weight: bold;
color: #252432;
font-size: small;}

.shop{color: #8987A1;}
.about-us{color: #8987A1;}
.cart{font-weight: bold;
color: #252432;}


/* mobile device */

@media screen and (max-width:576px) {


header{max-width: 576px;
margin: 0 auto;
border: 2px solid red;}

    .shop{display: none ;}
    .about-us{display: none;}
    .home{display: none;}
    .navbar{
justify-content: space-between;
width: 80%;
border: 1px solid blue ;}

.cart{display: flex;}


}